version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: literalura-postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - literalura-network

volumes:
  postgres_data:
    driver: local

networks:
  literalura-network:
    driver: bridge
