spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
        ddl-auto: update
    show-sql: true
  main:
    banner:
      location: classpath:banner.txt
    output:
        ansi:
          enabled: always
    web-application-type: none
  shell:
    interactive:
        enabled: true
    history:
        enabled: true
        file: ./shell-history.txt
  application:
    name: liter-alura
logging:
  level:
    root: ERROR